/* Golden section
https://www.modularscale.com/?20&px&1.618
*/
/* https://color.adobe.com/mythemes */

/* Split the screen in half */

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

img {
  height: 100%;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #5882FA;
  text-align: center;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

div > header {
  padding-top: 225px;
  font-size: 50px;
  font-style: bold;
  color: white; 
}

div > h1 {
  font-size: 20px;
  color: white; 
  padding-bottom: 30px;
}

a.links {
  border-radius: 50px;
  border: 2px solid white;
  background-color: #013ADF;
  padding: 5px; 
  width: 100%;
  height: auto;
  text-decoration: none;  
}

div > a {
  color: white;
}

.linkholder {
  padding: 10px;
  width: auto;
}

.nav h1 {
  font-size: 40px; 
  background-color: #013ADF; 
}
.nav{
    text-align: center;
    color: white;
    font-size: 30px;
}
.nav ul li {
    display:inline;
}
.nav ul{
    padding: 0;
    background-color: #5882FA;
}
a:link, :visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #93B4CC;
}
#navTop ul li {
    display:inline-block;
    padding: 15px;
}

#clicked {
  color:darkblue;
}

h1 {
  text-align: center;
}

.sectionhead {

}
div > h2 {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (min-width: 500px) {


}
@media screen and (min-width: 768px) {
  .left-side {
    float: left;
    width: 30%;
    height: 400px;
    border-right: 2px;
    border-color: black;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
  }
  .right-side {
    float: right;
    width: 70%;
    height: 400px;
    padding-top: 10px;
  }
}