/* Golden section
https://www.modularscale.com/?20&px&1.618
*/
/* https://color.adobe.com/mythemes */
* {box-sizing:border-box}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
#start {
  display: block;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #B3807F;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: black;
  border-radius: 2px;
}
.dot {
  text-align:center;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
html {
  background-color: #E1E1D6;
  text-align: center;
  align-content: center;
  width: 100%;
}
h1 {
  font-size: 40px;
  height: 45px;
  padding: 0px;
  margin: 0px;
}
h2{
  font-size: 20px;
  padding: 10px;
}

header {
  text-align: center;
  color: white;
  background-color: #1B5C8C;

}
.nav h1 {
  font-size: 40px; 
  background-color: #1B5C8C; 
}
.nav{
    text-align: center;
    color: white;
    font-size: 30px;
}
.nav ul li {
    display:inline;
}
.nav ul{
    padding: 0;
}
a:link, :visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #93B4CC;
}
#navTop ul li {
    display:inline-block;
    padding: 15px;
}
.NL html{
    background-color: #f8ece0;
}
.NL body{
    font-size: 10px;
    text-align: center;
    align-content: center;
    width: 90%;
    padding: 10px;
} 
.NL input{
    width: 90%;
    padding: 10px 20px;
    margin: 15px 0;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}
.NL .submit_button {
    width: 75%;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #8ed2df;
    text-decoration: none;
    margin: 4px 2px;
}
.NL h1{
        font-size: 50px;
        color: black;
}   
.NL h2{
        font-size: 25px;
        color: black;
        padding: 10px;
}
.NL label{
        font-size: 15px;
        color: black;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  padding: 13px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  background-color: black;
  opacity: .7;
}
@media screen and (min-width: 300px) {
.large, .centered {
  font-size: 25px;
}
img {
  width: auto;
  height: 100%;
}
#AboutMe {
  text-align: center;
  font-size: 1em /* 20px */;
  font-family: 'Libre Baskerville',"Book Antiqua", "Times New Roman", serif;
}
#Information {
  position: relative;
  font-size: 15px;
  display: table-cell;
  line-height: 1.618em /* 32.36px */;
  vertical-align: middle;
  text-align: center;
  font-family: 'McLaren', "Book Antiqua", "Times New Roman", cursive;
}
#Belt {
  font-size: 15px;
  padding-top: 5em;
  line-height: 1.618em /* 32.36px */;
  vertical-align: center;
  text-align: center;
  font-family: 'Barlow', "Book Antiqua", "Times New Roman", sans-serif;
}
.Vince2 img {
  width: 17.942em /* 358.84px */;
  height: 17.942em /* 358.84px */;
  position: absolute;
  top: 17.942em /* 358.84px */;
  left: 1em /*20px*/;
}
.Knot {
  top: 6.854em /* 137.071px */;
  width: 17.942em /* 358.84px */;
}
}
@media screen and (min-width: 500px) {

.large, .centered {
  font-size: 40px;
  padding-top: 20px;
  }
#Information {
  position: absolute;
  font-size: 1em /* 20px */;
  display: table-cell;
  line-height: 1.618em /* 32.36px */;
  vertical-align: middle;
  text-align: center;
  font-family: 'McLaren', "Book Antiqua", "Times New Roman", cursive;
  padding-bottom: 2.618em /* 52.358px */;
  }
#Information {
  position: absolute;
  display: table-cell;
  }
#Belt {
  font-size: 1em /* 20px */;
  padding-top: 29.03em /*580.603px */;
  line-height: 1.618em /* 32.36px */;
  vertical-align: center;
  text-align: center;
  }
}
@media screen and (min-width: 768px) {
.topimages {
  width: 680px;
  margin: auto;
  }
.bottomimages {
  width: 680px;
  margin: auto;
  }
.bottomimages div {
  float: left;
  width: auto;
  height: auto;
  }
.topimages div {
  float: right;
  width: auto;
  height: auto;
  }
h1 {
  font-size: 50px;
  padding: 0px;
  margin: 0px;
 }
#AboutMe {
  font-size: 1em /* 20px */;
  top: 1.618em /* 32.36px */;
  vertical-align: middle;
  text-align: center;
  line-height: 1.618em /* 32.36px */;
  font-family: 'Libre Baskerville', "Book Antiqua", "Times New Roman", serif;
  padding-bottom: 1.618em /* 32.36px */;
  padding-right: 1.618em /* 32.36px */;
  padding-left: 1.618em /* 32.36px */;
}
#Information {
  position: absolute;
  font-size: 1em /* 20px */;
  display: table-cell;
  line-height: 1.618em /* 32.36px */;
  vertical-align: middle;
  text-align: center;
  font-family: 'McLaren', "Book Antiqua", "Times New Roman", cursive;
  padding-bottom: 4.236em /* 84.716px */;
  padding-right: 17.942em /* 358.84px */;
  padding-left: 17.942em /* 358.84px */;
}
#Belt {
  font-size: 1em /* 20px */;
  padding-top: 25em;
  line-height: 1.618em /* 32.36px */;
  vertical-align: center;
  text-align: center;
  position: relative;
  font-family: 'Barlow', "Book Antiqua", "Times New Roman", sans-serif;
}
.Knot {
  float: right;
  top: 2.618em /* 52.358px */;
  right: 1em /* 20px */;
  position: relative;
  width: 17.942em /* 358.84px */;
  border-radius: 50%;
}
.Vince {
  float: left;
  top: 2.618em /* 52.358px */;
  left: 1em /* 20px */;
  position: relative;
  width: 17.942em /* 358.84px */;
  border-radius: 50%;
}
}